{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/sign_up.css' %}>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>Are you a cat Person?</title>
</head>

<body>
    <div class="title">
        <div class="title_text">Are you a cat Person?</div>
    </div>
    <form method="post" action={% url 'sign_up' %}>
        {% csrf_token %}
        <div class="mb-3 wrapper">
            <input type="email" class="form-control email_input" id="user_id" name='user_id' placeholder="이메일을 입력하세요">
        </div>
        <div class="mb-3 wrapper">
            <input type="password" class="form-control password_input" id="user_password" name='user_password' placeholder="비밀번호를 입력하세요">
        </div>
        <div class="mb-3 wrapper">
            <input type="text" class="form-control desc_input" id="cat_name" name="cat_name" placeholder="고양이 이름을 적어주세요">
        </div>
        <div class="whole_background"></div>
        <button type="submit" class="sign_up_button">
            회원가입
        </button>
    </form>
</body>
<script src={% static 'js/sign_up.js' %}></script>

</html>